:root {
  --color__wbn--kruispuntzone: #adadad;
  --color__wbn--wegsegment: #d6d6d6;
  --color__wgo--grens-zone-zwakke-weggebruiker: #bf00ff;
  --color__wbn--split: #00ffff;
  --stroke-width: 0.5;
}

svg {
  width: 100%;
  height: 100%;
  transform: scale(1, -1);
}

polygon,
polyline {
  fill: none;
  stroke-width: var(--stroke-width);
  stroke-opacity: 0.3;
  cursor: pointer;
}

polygon:hover,
polyline:hover {
  /* stroke-width: calc(var(--stroke-width) * 2); */
  stroke-opacity: 1;
}

polygon {
  fill-opacity: 0.3;
}

polygon[data-lbltype='kruispuntzone'] {
  fill: var(--color__wbn--kruispuntzone);
  stroke: var(--color__wbn--kruispuntzone);
}

polyline[data-lbltype='grens zone zwakke weggebruiker (wcz)'] {
  stroke: var(--color__wgo--grens-zone-zwakke-weggebruiker);
}

polygon[data-lbltype='split'] {
  fill: var(--color__wbn--split);
  stroke: black;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
} */
